<!DOCTYPE html>
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
    <link rel = "stylesheet" type = "text/css" href='{% static "styles.css" %}' >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Автомобили</h1>

<form action="" method="get">
    <table>
    <tr>
      <td> {{ form.as_p }} </td>
      <th> <input type="submit" value="поиск"> </th>
    </tr>
    </table>
</form>

<br>
<table border="1" class="col-8">

    <th>Номер</th>
    <th>Производитель</th>
    <th>Модель</th>
    <th>Год выпуска</th>
    <th>Коробка передач</th>
    <th>Цвет</th>
    {% for c in cars %}
    <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.manufacturer }}</td>
        <td>{{ c.modelCar }}</td>
        <td>{{ c.year_manufacture }}</td>
        <td>{{ c.get_transmission_display }}</td>
        <td>{{ c.color }}</td>
    </tr>
    {% endfor %}
</table>



</body>
</html>